<div style="margin: 2rem">
  <form [formGroup]="userGroup">
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-6">
        <input class="form-control" id="firstName" placeholder="Enter First Name" type="text" formControlName="firstName" maxlength="20">
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-6">
        <input class="form-control" id="lastName" placeholder="Enter Last Name" type="text" formControlName="lastName" maxlength="20">
      </div>
    </div>
    <div class="form-group row">
      <label for="employeeId" class="col-sm-2 col-form-label">Employee ID</label>
      <div class="col-sm-6">
        <input class="form-control"  id="employeeId" placeholder="Enter Employee ID" type="text" formControlName="employeeId" maxlength="6" minlength="6" (keypress)="numberOnly($event)">
      </div>
    </div>
    <div class="form-group row">
      <span class="col-sm-7"></span>
      <button class="btn btn-primary btn-space" style="margin: 0 1rem" type="submit" (click)="add()" [disabled]="!userGroup.valid" id="add" *ngIf="showAdd">Add</button>
      <button class="btn btn-primary btn-space" style="margin: 0 1rem" type="submit" (click)="update()" [disabled]="!userGroup.valid"  id="update" *ngIf="!showAdd" >Update</button>
      <button class="btn btn-secondary btn-space" (click)="reset()">{{cancelButtonLabel}}</button>
    </div>
  </form>

  <hr>

  <div class="form-group row" style="padding-left: 1rem">
    <input class="form-control" style="width: 50%" placeholder="Search" type="text" [formControl]="filter"/>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="firstName" (sort)="onSort($event)">First Name</th>
      <th scope="col" sortable="lastName" (sort)="onSort($event)">Last Name</th>
      <th scope="col" sortable="employeeId" (sort)="onSort($event)">Employee Id</th>
      <th scope="col"> Action </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of usersList; index as i">
      <td>
         <ngb-highlight [result]="user.firstName" [term]="filter.value"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="user.lastName" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="user.employeeId" [term]="filter.value"></ngb-highlight></td>

      <td>
        <button  class="btn btn-primary btn-space" style="margin: 0 1rem" (click)="updateUser(user)">Edit</button>
        <button  class="btn btn-danger btn-space" style="margin: 0 1rem" (click)="deleteUser(user)">Delete</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>
