<div style="margin: 2rem">
  Project Manager

  <ngb-tabset>
    <ngb-tab title="Add Project">
      <ng-template ngbTabContent>
        <app-add-project></app-add-project>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Add Task">
      <ng-template ngbTabContent>
        <app-add-task></app-add-task>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Add User">
      <ng-template ngbTabContent>
        <app-add-user></app-add-user>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="View Task">
      <ng-template ngbTabContent>
        <app-view-task></app-view-task>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
