<div style="margin: 2rem">

  <form [formGroup]="taskForm" (ngSubmit)="add()">

    <!--<div class="row"  *ngIf="showMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
          <strong>Registration Success!</strong> Please click here to login!.

        </p>
      </div>
    </div>-->

    <div class="form-group row">
      <label for="project" class="col-sm-2 col-form-label">Project</label>
      <div class="col-sm-10">
        <input class="form-control" id="project" placeholder="Enter Project Name" type="text"
               formControlName="project" [ngbTypeahead]="projectSearch" [resultFormatter]="projectFormatter" [inputFormatter]="projectFormatter" (blur)="blurHandler('project')">
        <span *ngIf="searching">searching...</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="project" class="col-sm-2 col-form-label">Task</label>
      <div class="col-sm-10">
        <input class="form-control" id="task" placeholder="Enter Task Name" type="text" formControlName="task">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10" style="display: inline-flex">
        <input class="form-control" type="checkbox" formControlName="isParenttask" style="width: 1.5rem">
        <label class="col-sm-2 col-form-label">Parent Task</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="priority" class="col-sm-2 col-form-label">Priority</label>
      <div class="col-sm-10">
        <input class="form-control" id="priority" placeholder="Enter Last Name" type="range" min="0" max="30" formControlName="priority">
      </div>
    </div>


    <div class="form-group row">
      <label for="parentTask" class="col-sm-2 col-form-label">Parent Task</label>
      <div class="col-sm-10">
        <input class="form-control" id="parentTask" placeholder="Enter Parent Task" type="text" formControlName="parentTask"
               [ngbTypeahead]="parentTaskSearch" [resultFormatter]="parentTaskFormatter" [inputFormatter]="parentTaskFormatter" (blur)="blurHandler('parentTask')">
        <span *ngIf="searchingParent">searching...</span>
      </div>
    </div>

    <div class="form-group row">
      <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
      <div class="col-sm-4" style="display: inline-flex;">
        <input class="form-control"  id="startDate" placeholder="Start Date" type="text" formControlName="startDate" ngbDatepicker #sd="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="sd.toggle()" type="button"></button>
        </div>
      </div>
      <label for="endDate" class="col-sm-1 col-form-label">End Date</label>
      <div class="col-sm-4" style="display: inline-flex;">
        <input class="form-control" id="endDate" placeholder="End Date" type="text" formControlName="endDate" ngbDatepicker #ed="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="ed.toggle()" type="button"></button>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="user" class="col-sm-2 col-form-label">User</label>
      <div class="col-sm-10">
        <input class="form-control" id="user" placeholder="Enter User" type="text" formControlName="user"
               [ngbTypeahead]="userSearch" [inputFormatter]="userFormatter" [resultFormatter]="userFormatter" (blur)="blurHandler('user')">
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-primary btn-space" style="margin: 0 1rem" type="submit" [disabled]="!taskForm.valid">Add</button>
      <button class="btn btn-primary btn-space" (click)="reset()">Reset</button>
    </div>
  </form>


</div>
