<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" sortable="task" (sort)="onSort($event)">Task</th>
    <th scope="col" sortable="noOfTasks" (sort)="onSort($event)">No Of Task</th>
    <th scope="col" sortable="priority" (sort)="onSort($event)">Priority</th>
    <th scope="col" sortable="startDate" (sort)="onSort($event)">Start Date</th>
    <th scope="col" sortable="endDate" (sort)="onSort($event)">End Date</th>
    <th scope="col" sortable="completed" (sort)="onSort($event)">Completed</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of taskList; index as i">
    <td><ngb-highlight [result]="task.task"></ngb-highlight></td>
    <td><ngb-highlight [result]="task.noOfTasks"></ngb-highlight></td>
    <td><ngb-highlight [result]="task.priority"></ngb-highlight></td>
    <td><ngb-highlight [result]="task.startDate"></ngb-highlight></td>
    <td><ngb-highlight [result]="task.endDate"></ngb-highlight></td>
    <td><ngb-highlight [result]="task.completed"></ngb-highlight></td>
  </tr>
  </tbody>
</table>
